In [1]:
#imports
import os
import pandas as pd
import numpy as np
import random
import warnings
warnings.simplefilter('ignore')
pd.set_option('display.max_columns', 500)

random.seed(1)

In [2]:
df_15 = pd.read_csv('raw/2015.csv')
df_15.shape

(441456, 330)

In [3]:
df_15 = df_15.loc[:, (df_15.isnull().sum() / df_15.shape[0]) < 0.1]
df_15.shape

(441456, 145)

In [4]:
df_15 = df_15.dropna()
df_15.shape

(340057, 145)

In [5]:
df_15 = df_15.drop('IDATE', axis=1)

In [6]:
df_1114 = [pd.read_csv(f'raw/20{i}.csv') for i in range(11, 15)]

In [7]:
df_list = [df_15] + df_1114
df = pd.concat(df_list, join='inner')
df.shape

(2278648, 77)

In [8]:
df = df.loc[:, (df.isnull().sum() / df.shape[0]) < 0.1].dropna()
df.shape

(2041151, 77)

In [9]:
df['DIABETE3'] = df['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})
df = df[(df['DIABETE3'] != 7) & (df['DIABETE3'] != 9)]
df.groupby(['DIABETE3']).size()

DIABETE3
0.0    1745038
1.0      34563
2.0     259171
dtype: int64

In [10]:
df.loc[:, 'DIABETE3'] = df['DIABETE3'].replace({1:0}).replace({2:1})
df.groupby(['DIABETE3']).size()

DIABETE3
0.0    1779601
1.0     259171
dtype: int64

In [11]:
a = 1779601 + 259171
259171 / a

0.12712112977812134

In [12]:
df = df.rename(columns={'DIABETE3': 'Diabetes'})

In [13]:
df.dtypes

_STATE      float64
FMONTH      float64
IMONTH       object
IDAY         object
IYEAR        object
             ...
_RFBING5    float64
_TOTINDA    float64
_RFSEAT2    float64
_RFSEAT3    float64
_AIDTST3    float64
Length: 77, dtype: object

In [ ]:
for col in df.columns:
    if df[col].dtype != float:
        # print(col, 'str')
        continue
    if df[col].apply(float.is_integer).all():
        df = df.astype({col: 'int'})
        # print(col, df[col].dtype)
    else:
        # print(col, df[col].dtype)
        continue
df = df.astype({col: 'float' for col in ['WEIGHT2', 'HEIGHT3', '_BMI5', 'WTKG3', '_STSTR']})

In [ ]:
df_int = df.loc[:, df.dtypes == 'int64']
df_int = df_int.drop(['SEQNO', '_PSU'], axis=1)

In [ ]:
df_int.head()

,_STATE,FMONTH,DISPCODE,GENHLTH,PHYSHLTH,MENTHLTH,HLTHPLN1,PERSDOC2,MEDCOST,CHECKUP1,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,CHCSCNCR,CHCOCNCR,HAVARTH3,ADDEPEV2,CHCKIDNY,Diabetes,SEX,MARITAL,EDUCA,RENTHOM1,VETERAN3,CHILDREN,INCOME2,QLACTLM2,USEEQUIP,SMOKE100,USENOW3,ALCDAY5,EXERANY2,SEATBELT,PNEUVAC3,HIVTST6,QSTVER,QSTLANG,_RFHLTH,_HCVU651,_LTASTH1,_CASTHM1,_ASTHMS1,_DRDXAR1,_AGEG5YR,_AGE65YR,_AGE_G,HTIN4,HTM4,_BMI5CAT,_RFBMI5,_CHLDCNT,_EDUCAG,_INCOMG,_SMOKER3,_RFSMOK3,DRNKANY5,_RFBING5,_TOTINDA,_RFSEAT2,_RFSEAT3,_AIDTST3
0,1,1,1200,5,15,18,1,1,2,1,2,2,2,1,2,2,1,1,2,0,2,1,4,1,2,88,3,1,1,1,3,888,2,1,1,1,10,1,2,1,2,2,1,1,9,1,5,70,178,4,2,1,2,2,3,1,2,1,2,1,1,1
1,1,1,1100,3,88,88,2,1,1,4,2,2,2,2,2,2,2,2,2,0,2,2,6,1,2,88,1,1,2,1,3,888,1,3,2,2,10,1,1,2,1,1,3,2,7,1,4,68,173,3,2,1,4,1,1,2,2,1,1,2,2,2
3,1,1,1100,5,30,30,1,2,1,1,2,2,2,2,2,1,1,1,2,0,2,1,4,1,2,1,8,1,2,2,3,888,2,1,1,9,10,1,2,1,1,1,3,1,9,1,5,67,170,3,2,2,2,5,4,1,2,1,2,1,1,9
5,1,1,1100,2,88,88,1,1,2,1,2,2,2,2,2,2,1,2,2,0,2,3,3,1,2,88,6,1,2,2,3,888,1,1,1,2,10,1,1,9,1,1,3,1,11,2,6,62,157,3,2,1,1,4,4,1,2,1,1,1,1,2
6,1,1,1100,2,88,3,1,1,2,1,2,2,2,2,2,2,2,2,2,0,2,3,5,1,2,88,4,2,2,2,3,203,1,1,1,1,10,1,1,9,1,1,3,2,11,2,6,66,168,2,1,1,3,2,4,1,1,1,1,1,1,1

In [17]:
for col in df_int.columns:
    print(col, len(df_int[col].unique()))

_STATE 53
FMONTH 12
DISPCODE 4
GENHLTH 7
PHYSHLTH 33
MENTHLTH 33
HLTHPLN1 4
PERSDOC2 5
MEDCOST 4
CHECKUP1 7
CVDINFR4 4
CVDCRHD4 4
CVDSTRK3 4
ASTHMA3 4
CHCSCNCR 4
CHCOCNCR 4
HAVARTH3 2
ADDEPEV2 4
CHCKIDNY 4
Diabetes 2
SEX 2
MARITAL 7
EDUCA 7
RENTHOM1 5
VETERAN3 4
CHILDREN 33
INCOME2 10
QLACTLM2 4
USEEQUIP 4
SMOKE100 4
USENOW3 5
ALCDAY5 40
EXERANY2 4
SEATBELT 8
PNEUVAC3 4
HIVTST6 4
QSTVER 8
QSTLANG 4
_RFHLTH 3
_HCVU651 3
_LTASTH1 3
_CASTHM1 3
_ASTHMS1 4
_DRDXAR1 2
_AGEG5YR 14
_AGE65YR 3
_AGE_G 6
HTIN4 59
HTM4 59
_BMI5CAT 4
_RFBMI5 2
_CHLDCNT 7
_EDUCAG 5
_INCOMG 6
_SMOKER3 5
_RFSMOK3 3
DRNKANY5 4
_RFBING5 3
_TOTINDA 3
_RFSEAT2 3
_RFSEAT3 3
_AIDTST3 3

In [26]:
df = df.drop(['SEQNO', '_PSU'], axis=1)
# drop DIABETE3 for IID
df = df.drop("Diabetes", axis=1)
df.shape

(2038772, 74)

In [27]:
# Remove `not` to overwrite.
if not os.path.exists('all.csv'):
    df.to_csv('all.csv', sep=',', index=False)

In [29]:
# Automatically divides cate and nam.
categorical = list(df.loc[:, (df.dtypes == 'object') | (df.dtypes == 'int64')].columns)
numerical = list(df.loc[:, df.dtypes == 'float64'].columns)
categorical, numerical

(['_STATE',
  'FMONTH',
  'IMONTH',
  'IDAY',
  'IYEAR',
  'DISPCODE',
  'GENHLTH',
  'PHYSHLTH',
  'MENTHLTH',
  'HLTHPLN1',
  'PERSDOC2',
  'MEDCOST',
  'CHECKUP1',
  'CVDINFR4',
  'CVDCRHD4',
  'CVDSTRK3',
  'ASTHMA3',
  'CHCSCNCR',
  'CHCOCNCR',
  'HAVARTH3',
  'ADDEPEV2',
  'CHCKIDNY',
  'SEX',
  'MARITAL',
  'EDUCA',
  'RENTHOM1',
  'VETERAN3',
  'CHILDREN',
  'INCOME2',
  'QLACTLM2',
  'USEEQUIP',
  'SMOKE100',
  'USENOW3',
  'ALCDAY5',
  'EXERANY2',
  'SEATBELT',
  'PNEUVAC3',
  'HIVTST6',
  'QSTVER',
  'QSTLANG',
  '_RFHLTH',
  '_HCVU651',
  '_LTASTH1',
  '_CASTHM1',
  '_ASTHMS1',
  '_DRDXAR1',
  '_AGEG5YR',
  '_AGE65YR',
  '_AGE_G',
  'HTIN4',
  'HTM4',
  '_BMI5CAT',
  '_RFBMI5',
  '_CHLDCNT',
  '_EDUCAG',
  '_INCOMG',
  '_SMOKER3',
  '_RFSMOK3',
  'DRNKANY5',
  '_RFBING5',
  '_TOTINDA',
  '_RFSEAT2',
  '_RFSEAT3',
  '_AIDTST3'],
 ['WEIGHT2',
  'HEIGHT3',
  '_STSTR',
  '_STRWT',
  '_RAWRAKE',
  '_WT2RAKE',
  '_LLCPWT',
  'WTKG3',
  '_BMI5',
  'DROCDY3_'])

In [30]:
dtype_df = pd.DataFrame(df.dtypes).T
dtype_df

,_STATE,FMONTH,IMONTH,IDAY,IYEAR,DISPCODE,GENHLTH,PHYSHLTH,MENTHLTH,HLTHPLN1,PERSDOC2,MEDCOST,CHECKUP1,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,CHCSCNCR,CHCOCNCR,HAVARTH3,ADDEPEV2,CHCKIDNY,SEX,MARITAL,EDUCA,RENTHOM1,VETERAN3,CHILDREN,INCOME2,WEIGHT2,HEIGHT3,QLACTLM2,USEEQUIP,SMOKE100,USENOW3,ALCDAY5,EXERANY2,SEATBELT,PNEUVAC3,HIVTST6,QSTVER,QSTLANG,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_LLCPWT,_RFHLTH,_HCVU651,_LTASTH1,_CASTHM1,_ASTHMS1,_DRDXAR1,_AGEG5YR,_AGE65YR,_AGE_G,HTIN4,HTM4,WTKG3,_BMI5,_BMI5CAT,_RFBMI5,_CHLDCNT,_EDUCAG,_INCOMG,_SMOKER3,_RFSMOK3,DRNKANY5,DROCDY3_,_RFBING5,_TOTINDA,_RFSEAT2,_RFSEAT3,_AIDTST3
0,int64,int64,object,object,object,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64,int64,int64,int64,int64